@model IEnumerable<Reserva_Espectaculo.Models.TipoSala>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Nuevo tipo de sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <a class="fas fa-edit fa-lg" asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a class="fas fa-info-circle fa-lg" style='color: black' asp-action="Details" asp-route-id="@item.Id"></a> |
                <a class="fas fa-trash-alt fa-lg" style='color:#ee5353' asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
}
    </tbody>
</table>
